body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

canvas {
  border: 1px solid #00aeff;
}

h1 {
  background-color: red;
}
